<div id="total">
<div id="menu">
  <app-aside [selected]="viewing" (changeContent)="getChange($event)"></app-aside>
</div>
<div id="contenido">
  <app-content [viewing]="viewing"></app-content>
</div>
</div>