#menu, #contenido{
    border: 1px solid rgba(0,0,0,0.2);
}
#menu{
    flex-basis: 15%;
}

#contenido{
    flex-basis: 85%;
    display: flex;
    flex-flow: column wrap;
}

#menu{
    flex-basis: 20%;
}

.rounded{
    border-radius: 50px;
    width: 60px;
}
#total{
   display: flex;
   flex-flow: row nowrap;

}
