<div class="content">

<div class="contenido">
  <div id="info">
    <div class="title">LOGIN</div>

  <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label" style="margin-bottom:1%;"><h4>Username</h4></label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style="margin-bottom:1%;"><h4>Password</h4></label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
      <button type="submit" class="bigBtn">Ingresar</button>
    </div>
  </div>
    <div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
      <button type="submit" class="bigBtn">Registrarme</button>
    </div>
  </div>
</form>
  </div>
</div>


</div>