@font-face{
    font-family: roboto;
    src: url("/assets/fonts/dolce_vita/Roboto-Light.ttf");
}
@font-face{
    font-family: vita;
    src: url("/assets/fonts/dolce_vita/Dolce Vita Heavy Bold.ttf");
}

.content{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-image: url("/assets/images/fondo2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title{
    flex-basis: 20%;
    font-family: vita;
    font-size: 4em;
    text-align: center;
    color:#11156D;
    background-color:rgba(68, 187, 255, 0.9);
    width: 100%;
    border-radius: 3%;

  

}
.contenido{
    flex-basis: 90%;
    width: 40%;
    justify-content: center;
    align-items: center;
   
}

#info{
    background-color:rgba(216, 226, 236, 0.9);
    margin-top: 1em;
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius:  2.5%;
    padding: 5%;
 
}

.bigBtn{
  padding: 10px;
  width: 100%;
  height: 20%;
  margin-top: 2%;
  font-size: 100%;
  border-style: solid;
      border-radius: 5px;
         background-color: #44BBFF;
      border-width: thin;
      color:#11156D;
}

h4{
    color:#11156D;
}
