<nav class="navbar navbar-default" style="margin-bottom:0%;">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
  
      <a class="navbar-brand" href="#" style="font-family:vita;">My Part</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

     
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="login()" >Login</a></li>
        <li class="dropdown">
          <a (click)="sign()" > Registro</a>
       
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
