<div class="content">

<div class="contenido">
  <div id="info">

<div class="title2">REGISTRO</div>
  <form class="form-horizontal">

    <div style="display:flex; justify-content:center;align-items:center;flex-flow:row nowrap; ">
       <div class="form-group" style="padding-right:3%;">
    <label for="inputEmail3" class="col-sm-2 control-label" style=""><h4>Nombre</h4></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="nombre" id="inputEmail3" placeholder="Ingresa tu nombre">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style=""><h4>Apellido</h4></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="apellido" id="inputPassword3" placeholder="Ingresa tu apellido">
    </div>
  </div>
    </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label" style=""><h4>Email</h4></label>
    <div class="col-sm-12">
      <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Ingresa tu nombre">
    </div>
  </div>
 
  <div style="display:flex; justify-content:center;align-items:center;flex-flow:row nowrap;">
    
  <div class="form-group" style="padding-right:3%;">
    <label for="inputPassword3" class="col-sm-2 control-label" style=""><h4>Username</h4></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="username" id="inputPassword3" placeholder="Ingresa tu apellido">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style=""><h4>Password</h4></label>
    <div class="col-sm-12">
      <input type="password" class="form-control" name="username" id="inputPassword3" placeholder="Ingresa tu apellido">
    </div>
  </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
      <button type="submit" class="bigBtn">Registrarme</button>
    </div>
  </div>
</form>
  </div>
</div>


</div>