.perfil{
    padding: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 h3{
     padding: 1em;

}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{

}
