<div class="list-group">
  <div class="perfil">
    <a><img src="assets/images/perfil1.jpg" style="border-radius:100%; width:100%; height:100%;"/></a>
    <h3>Lu louise</h3>
  </div>
  <button (click)="loadComponent('home')" type="button" [class.active]="selected == 'home'" class="list-group-item">Home</button>
  <button (click)="loadComponent('equipos')" type="button" [class.active]="selected == 'equipos'" class="list-group-item">Equipos</button>
  <button (click)="loadComponent('tareas')" type="button" [class.active]="selected == 'tareas'" class="list-group-item">Tareas</button>
</div>
