.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}
.tareas{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 5%;
}

.equipos{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 5%;
}

.title2{
    flex-basis: 20%;
    font-family: vita;
    font-size: 4em;
    text-align: center;
    color:#11156D;
    width: 100%;
    border-radius: 3%;
}

.tareaContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    width: 80%;
    flex-basis: 80%;
   
}



.tareaInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    flex-basis: 80%;
    padding-left: 5%;


}

.tarea{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin-top:5%;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 5%;

}

.estado img{
    width: 100%;
    height: 100%;

    border-radius:100%;
}
.estado2 img{
    width: 80%;
    height: 80%;

    border-radius:100%;
}

.estado{
       flex-basis: 30%;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    /* flex-flow: row nowrap; */
    align-items: center;
    align-content: center;
    justify-content: center;
}

.estado2{
       flex-basis: 30%;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    /* flex-flow: row nowrap; */
    align-items: center;
    align-content: center;
    justify-content: center;
}

.bigBtn{
  padding: 10px;
  width: 50%;
  height: 20%;
  margin-top: 2%;
  font-size: 100%;
  border-style: solid;
      border-radius: 5px;
         background-color: #44BBFF;
      border-width: thin;
      color:#11156D;
}

.tareaInfo h4{
    padding: 0%;
    margin: 0%;
}

.tareaInfo h5{
    padding: 1em 0em;
    margin: 0%;
}

.tareaInfo h6{
    padding: 0%;
    margin: 0%;
}