<div class="content">

  <div class="tareas">
    <div class="title2">TAREAS</div>



    
    <div class="tareaContent" *ngFor="let activity of actividades">
      <div class="tarea">      
        <div class="estado">
        <img src="assets/images/perfil1.jpg"/>  
        </div>
        <div class="tareaInfo">
        <h4>{{activity.title}}</h4>
        <h5>Blue Team</h5>
        <h6>25 de Mayo, 2017</h6>        
      </div>
      </div>
      
    </div>

     <button type="button" class="bigBtn">Ver más</button>

    
  </div>
  <div class="equipos">
    <div class="title2">EQUIPOS</div>

 <div class="tareaContent">
      <div class="tarea">
        <div class="estado2">
        <img src="assets/images/perfil1.jpg"/>  
        </div>
        <div class="tareaInfo">
        <h4>Blue Team</h4>      
      </div>
      </div>
      
    </div>

    <button type="button" class="bigBtn">Ver más</button>
    
    
  </div>
  
</div>