<div class="content">
   <!-- <div class="title">TAREAS</div>-->

    <div class="tareasContent">


      <div class="misActividades">
         <div class="title2">MIS ACTIVIDADES</div>
         <div class="tareaContent">
        <div class="tarea">
        <h4>Hacer el CSS de MYPART</h4>
        <div class="infoContent">
        <div class="tareaInfo">
        <h5>Blue Team</h5>
        <h6>25 de Mayo, 2017</h6>        
      </div>
        <div class="estado">
        <img src="assets/images/perfil1.jpg"/>  
        </div>     
        </div>
      </div>
      
    </div>
        
      </div>

      <div class="tareas">
        
         <div class="title2">ACTIVIDADES POR EQUIPOS</div>

      <div class="tareaContent">
        <div class="tarea">
        <h4>Hacer el CSS de MYPART</h4>
        <div class="infoContent">
        <div class="tareaInfo">
        <h5>Blue Team</h5>
        <h6>25 de Mayo, 2017</h6>        
      </div>
        <div class="estado">
        <img src="assets/images/perfil1.jpg"/>  
        </div>     
        </div>
      </div>
      
    </div>

         <div class="tareaContent">
      <div class="tarea">
          <h4>Hacer el CSS de MYPART</h4>
        <div class="infoContent">
        <div class="tareaInfo">
        <h5>Blue Team</h5>
        <h6>25 de Mayo, 2017</h6>        
      </div>
        <div class="estado">
        <img src="assets/images/perfil1.jpg"/>  
        </div>     
        </div>

      </div>

        
    </div>

             <div class="tareaContent">
      <div class="tarea">
          <h4>Hacer el CSS de MYPART</h4>
        <div class="infoContent">
        <div class="tareaInfo">
        <h5>Blue Team</h5>
        <h6>25 de Mayo, 2017</h6>        
      </div>
        <div class="estado">
        <img src="assets/images/perfil1.jpg"/>  
        </div>     
        </div>

      </div>

        
    </div>

             <div class="tareaContent">
      <div class="tarea">
          <h4>Hacer el CSS de MYPART</h4>
        <div class="infoContent">
        <div class="tareaInfo">
        <h5>Blue Team</h5>
        <h6>25 de Mayo, 2017</h6>        
      </div>
        <div class="estado">
        <img src="assets/images/perfil1.jpg"/>  
        </div>     
        </div>

      </div>

        
    </div>
        
      </div>

        


</div>

 <div class="btnCrear-content">
   <button type="button" class="bigBtn">Crear tarea</button>
    
    </div>


</div>